.App {
  text-align: center;
  background-image: url('./assets/dewan.jpeg');
  background-size: cover;
  /* Cover the entire background */
  background-repeat: no-repeat;
  /* Prevent background image from repeating */
  /* opacity: 0.5; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.expanded-image {
  width: 1250px;
  /* Set the desired width here */
  height: 200px;
  /* Maintain the aspect ratio */
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* .container button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(57, 30, 210);
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 3s, transform 3s;
} */

.button-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/home.jpeg'); /* Replace with your image path */
  background-size: cover;
  /* opacity: 0.5;  */
}

@keyframes example {
  0% { background-color: red; }
  50% { background-color: black; }
  100% { background-color: red; }
}


.title{
  font-size: 2.5rem; /* Adjust the font size as needed */
  font-weight: bold;
  color: orange; /* Choose a suitable text color */
  margin-bottom: 20px; /* Add spacing at the bottom */
  text-align: center; /* Center-align the text */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add a little letter spacing */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Choose a suitable font family */
  animation: example 3s linear infinite;
  
}
.container-title {
  text-align: center;
  background-color: rgb(0, 116, 224); /* Background color for the container */
  padding: 20px; /* Padding around the container */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow for a subtle effect */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}





/* Other styles for buttons, etc. */
.my-button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 1s, transform 1s; /* Add a transition for background color and transform */
}

.my-button.clicked {
  background-color: rgb(144, 3, 3);
  transform: scale(0.95); /* Apply a scale transformation on click */
}
