.App {
  text-align: center;
  background-image: url('./assets/dewan.jpeg');
  background-size: cover;
  /* Cover the entire background */
  background-repeat: no-repeat;
  /* Prevent background image from repeating */
  /* opacity: 0.5; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.expanded-image {
  width: 1250px;
  /* Set the desired width here */
  height: 200px;
  /* Maintain the aspect ratio */
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

.button-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/home.jpeg'); /* Replace with your image path */
  background-size: cover;
  /* opacity: 0.5;  */
}

/* Other styles for buttons, etc. */
